<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cadastroalunos">

    <application
            android:name="com.orm.SugarApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.CadastroAlunos">
        <activity
                android:name=".CadastroFrequenciaActivity"
                android:exported="true"
                android:label="@string/cadastrar_frequencia"/>
        <activity
                android:name=".CadastroNotaActivity"
                android:exported="true"
                android:label="@string/cadastrar_nota"/>
        <activity
                android:name=".ListaTurmaActivity"
                android:exported="true"
                android:label="@string/listaTurma"/>
        <activity
                android:name=".CadastroTurmaActivity"
                android:exported="true"
                android:label="@string/cadastrar_turma"/>
        <activity
                android:name=".CadastroDisciplinaActivity"
                android:exported="true"
                android:label="@string/cadastrar_disciplina"/>
        <activity
                android:name=".ListaProfessorActivity"
                android:exported="true"
                android:label="@string/listaProfessor"/>
        <activity
                android:name=".ListaAlunoActivity"
                android:exported="true"
                android:label="@string/listaAluno"/>
        <activity
                android:name=".ListaDisciplinaActivity"
                android:exported="true"
                android:label="@string/listaDisciplina"/>
        <activity
                android:name=".CadastroProfessorActivity"
                android:exported="true"
                android:label="@string/cadastrar_professor"/>

        <meta-data
                android:name="DATABASE"
                android:value="cadastro_aluno.db"/>
        <meta-data
                android:name="VERSION"
                android:value="6"/>
        <meta-data
                android:name="QUERY_LOG"
                android:value="true"/>
        <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="com.example.cadastroalunos.model"/>

        <activity
                android:name=".CadastroAlunoActivity"
                android:exported="true"
                android:label="@string/cadastrar_aluno"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>